.food-display{
    margin-top: 30px;
    margin-left: 10%;
}
.food_list_display{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-top: 2rem;
    
}
@media screen and (max-width:600px) {
    .food_list_display{
        display: block;
    }
}